body{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;   
    color: #FFFFFF;
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

html, body {
    height: 100%;  
}

main{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;   
    color: #FFFFFF;
    position: relative;
    background: url(img/изображение\ 1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0; 
    width: 100%;
 background-position: top center;
 -webkit-background-size: cover;
    height: 100%;  
}

.container {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 20px;
}

section{
    padding: 40px;
    padding-bottom: 70px;
    
}

a{
    color:#FFFFFF;
    text-decoration: none;
    transition: all 0.3s;
}

header {
    z-index: 20;
}

.header_top {
    padding: 17px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding-top: 70px;
    /* color: #BDBDBD; */
}


.header_left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_adres{ 
    line-height: 20px;
    margin-right: 36px;
    padding-left: 20px;
     position: relative;
}

.header_adres::before {
    position: absolute;
    content: "";
    background-image: url(img/map.svg);
    background-size: cover;
    height: 14px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
}

.header_right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_language-links {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    animation-name: dropdown-fade;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    z-index: 20;
   
}

.header_language-links a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    opacity: 1;
}

.header_language-links a:hover {background-color: #ddd;}


.header_language:hover .header_language-links {display: block;}

.header_language:hover .header_language-links {
    display: block;
    animation-name: dropdown-fade-in;
  }
  
  .header_language .header_language-links {
    animation-name: dropdown-fade-out;
  }

.header_language {
    line-height: 20px;
    margin-right: 30px;
    position: relative;
    padding-right: 14px;
    padding-left: 29px;
    transition: all 0.3s;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.header_language::before {
    position: absolute;
    content: "";
    background-image: url(img/lang.svg);
    background-size: cover;
    width: 19px;
    height: 19px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header_language::after {
    position: absolute;
    content: "";
    background-image: url(img/arrow.svg);
    background-size: cover;
    width: 7px;
    height: 5px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header_way {
    line-height: 20.028px;
    margin-right: 30px;
    padding-left: 30px;
    position: relative;
    transition: all 0.
}

.header_way::before {
    position: absolute;
    content: "";
    background-image: url(img/way.svg);
    background-size: cover;
    height: 18px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.lang-id {
    text-transform: uppercase;
}

.social{
    padding-right: 20px;
}

.header_number {
    line-height: 20px;
    position: relative;
    padding-left: 18px;
    transition: all 0.3s;
}

.header_number::before {
    position: absolute;
    content: "";
    background-image: url(img/telephone.svg);
    background-size: cover;
    height: 14px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
}

*, *::before, *::after {
    box-sizing: inherit;
}
* {
    outline: none;
}

span{
    transition: all 0.4s;
}

span:hover{
    color: #365EDC;
}

header {
    display: block;
    unicode-bidi: isolate;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 5px;
    gap: 20px;
}

.slider_two img{
    width: 100%;
    height: 100%;

}

.menu_burger {
    z-index: 998;
}

.menu_burger {
    height: 12px;
    width: 16px;
    position: relative;
    cursor: pointer;
    z-index: 5;
    margin-right: 30px;
}

.menu_burger::before {
    position: absolute;
    content: "";
    height: 2px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #111;
    transition: all 0.3s;
}

.menu_burger::after {
    position: absolute;
    content: "";
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: #111;
    transition: all 0.3s;
}

.menu_burger span {
    position: absolute;
    content: "";
    height: 2px;
    left: 0;
    top: 5px;
    width: 60%;
    background-color: #111;
    transition: all 0.3s;
}

.header_logo {
    display: flex;
    align-items: center;
}

.header_logo-img {
    display: flex;
    margin-right: 20px;
}
a {
    text-decoration: none;
}
a {
    background-color: transparent;
}


.header_logo-title {
   
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  
    line-height: 24px;
    /* width: 174px; */
    color: #111;
}

.menu {
    display: flex;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li:first-child a {
    margin-left: 0;
}
@media (max-width: 1550px) {
    .menu a {
        margin-left: 20px;
    }
}
.menu a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 30px;
    padding: 10px 0;
    color: #111;
    transition: all 0.3s;
}

.menu a:hover{
    color:#365EDC;

}

main a {
    transition: all 0.3s;
}

main a:hover{
    color: #365EDC;
}

.menu_hidden a {
    transition: all 0.3s;
}

.menu_hidden a:hover{
    color: #365EDC;
}


.header_search-btn {
    margin-left: 30px;
    display: block;
    cursor: pointer;
    
}

.submenu {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 290px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 14;
    padding: 10px;
    border-radius: 7px;
    /animation-name: dropdown-fade-out;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
   line-height: 20px; 
   
}

.menu li:hover .submenu {
    opacity: 1;
    visibility: visible;
    /* display: block; */
    animation-name: dropdown-fade-in;
  }

  .menu li .submenu {
    animation-name: dropdown-fade-out;
  }
  
  @keyframes dropdown-fade-in {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes dropdown-fade-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10 px);
    }
  } 
  

 .submenu a{
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
 }

  
  .menu li:hover .submenu {
    display: block;
  }

.menu li {
    position: relative;
   font-weight: 600;
   margin-right: 10px;
}


.nav_bar{
    font-size: 12px;   
 align-items: center;
 display: flex;
 position: fixed;
 z-index: 6;
 right: 0;
 left: 0;
 top: 0;
 background: rgba(0, 0, 0, 0.322);***
 width: 100%;
 height: 40px;
 
}

.nav{
    width: 100%;
}

.nav{
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 50px;
}

.main{
    font-size: 40px;
    padding-top: 60px;
}

h1{
    line-height: 40px;
    font-family: "Roboto", sans-serif;
    
}

.main_btn{
    font-size: 16px;
    padding: 20px;
    border-radius: 7px;
    background-color: #365EDC;
    color: #FFFFFF;
   border: none;
   cursor: pointer;
   margin-top: 30px;
   transition: all 0.4s;
   
}

.main_btn:hover{
    background-color: #FFFFFF;
    color: #111;
}

.message{
    width: 63px;
    height: 194px;
    background-color: #FFFFFF;
    align-items: center;
    
        display: flex;
        position: fixed;
        z-index: 10;
        right: 0;
        bottom: 36%;
        /* border-radius: 3px; */
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.border_message{
margin: 10px;
    align-items: center;
    text-align: center;
    
}

.icons{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;   
}

.closeModal {
	position: absolute;
	top: 60px;
	right: 50px;
	width: 28px;
	height: 28px;
	opacity: 0.4;
	cursor: pointer;
  transition: opacity ease 0.5s;

	&:hover {
		opacity: 1;
	}
}

.closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 28px;
	height: 3px;
	background: #000;
}

.closeModal::before {
	transform: rotate(45deg);
}

.closeModal::after {
	transform: rotate(-45deg);
}

.modal{
    z-index: 200;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.322);
    display: none;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(6px);
    align-items: center;
}

.modal_content{
    width: 100%;
    height: 150px;
    background-color: #FFFFFF;
    z-index: 101;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* padding-left: 100px; */
    
}

.modal_left{
    margin: 25px;
}


.search_input{
    border: none; 
    font-size: 32px;
    position: relative;
    padding-left: 40px;
    
}

.menu_hidden{
   z-index: 10;
   background-image: url(img/изображение\ 1.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
   position: fixed;
   overflow: auto;
   top: 0;
   right: 0;
   left: 0;
   /* display: block; */
   
}

#menu_hidden{
    z-index: 100;
    display: none;
}

.hidden_left{
    display: flex;
    align-items: center;
}

.hidden_right{
    align-items: center;
}

.hidden_one{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden_logo{
    display: flex;
    align-items: center;
}

.hidden_logo-img{
    display: flex;
    margin-right: 20px;
}

.hidden_logo-title{
    font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0.9599999785423279px;
text-align: left;

}

.hidden_number{
    font-weight: 600;
    padding-right: 80px;
    position: relative;
    transition: all 0.3s;
    padding-left: 18px;
}

.hidden_number::before{
    position: absolute;
    content: "";
    background-image: url(img/telephonewhite.svg);
    background-size: cover;
    height: 14px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
}

.hidden_two{
    padding: 50px 0 27px;
    display: flex;
    gap: 30px;
    padding-left: 84px;
}

.info_one{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase; 
}

.info_two{
    line-height: 50px;
}


.hidden_two hr{
    width: 260px;
}

.hidden_close {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
   /* left: 4%;
   top: 8%; */
   padding-right: 40px;
    cursor: pointer;
}
.hidden_close::before {
    content: '+';
    
    position: absolute;
    z-index: ;
    transform: rotate(45deg);
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.hidden_close::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.hidden_close::after {
    transform: scale(1);
}
.hidden_close::before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}

.hidden_footer{
    padding: 270px 0 27px;
    display: flex;
    gap: 30px;
    padding-left: 84px;
    justify-content: space-between;
    font-size: 13px;
}

.menu_left{
    display: flex;
}

.menu_right{
    display: flex;
}

.menu_adres{
    margin-right: 36px;
    padding-left: 20px;
     position: relative;
}

.menu_adres::before {
    position: absolute;
    content: "";
    background-image: url(img/mapw.svg);
    background-size: cover;
    height: 14px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
}

.menu_language-links {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    animation-name: dropdown-fade;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    top: auto;
    bottom: 100%;
   
}

.menu_language-links a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu_language-links a:hover {background-color: #ddd;}


.menu_language:hover .menu_language-links {display: block;}

.menu_language:hover .menu_language-links {
    display: block;
    animation-name: dropdown-fade-in;
  }
  
  .menu_language .menu_language-links {
    animation-name: dropdown-fade-out;
  }

.menu_language {
    margin-right: 30px;
    position: relative;
    padding-right: 14px;
    padding-left: 29px;
    transition: all 0.3s;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.menu_language::before {
    position: absolute;
    content: "";
    background-image: url(img/langw.svg);
    background-size: cover;
    width: 19px;
    height: 19px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu_language::after {
    position: absolute;
    content: "";
    background-image: url(img/arroww.svg);
    background-size: cover;
    width: 7px;
    height: 5px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu_way {
    margin-right: 30px;
    padding-left: 30px;
    position: relative;
    transition: all 0.
}

.menu_way::before {
    position: absolute;
    content: "";
    background-image: url(img/wayw.svg);
    background-size: cover;
    height: 18px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

svg{
    transition: all 0.3s;
}

svg:hover{
    /* stroke:#365EDC;
     stroke-width: 2;
      stroke-linecap:round;
      stroke-linejoin:round; */
}

.main_slider{
    display: flex;
    justify-content: space-between; 
    gap: 30px;
    
}
.slider_one{
    width: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    height: 220.25px;
    max-width: 734px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.section_two{
    padding-top: 40px;
    /*margin-top: 210px;*/
    background: #fff;
}

.new_title{
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_title a {
    color: #000;
    font-size: 14px;
    /* display: flex; */
    justify-content: space-between;
    transition: all 0.3s;
}
.new_title a:hover{
    color: #365EDC;
}

h2 {
    font-size: 36px;
    font-family: Roboto;
}

.arrow_news{
    position: relative;
    padding-right: 15px;
}

.arrow_news::after{
    position: absolute;
    content: "";
    background-image: url(img/arrow3.svg);
    background-size: cover;
    height: 8px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
}

.card_news{
    width: 349px;
height: max-content;
top: 1391px;
left: 210px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #E5E5E5;
}

.new_title{
    padding-bottom: 30px;
}

.card_news-img{
    width: 100%;
height: 234px;
gap: 0px;
border-radius: 3px 3px 0px 0px;
opacity: 0px;

}

.cadr_news-text{
    color: #000;
    padding: 20px;
}

.type_new{
    border: 1px solid #E5E5E5;
    padding: 5px;
    background-color:#FAFAFA;
    border-radius: 4px;
    font-size: 12px;
    transition: all 0.3s;
}

.type_new:hover{
    background-color: #EFEFEF;
}

.cadr_news-text p{
    font-size: 16px;
    font-family: Roboto;
}

.news_prew{
    display: flex;
    gap: 30px;
    align-items: center;
    max-width: 1540px;
    justify-content: space-between;
}

section:nth-child(2n){
    background: #FFFFFF;

}

section{
    background: #F4F4F4;
    color: #000;
}

section a {
    color: #000;
}
.citizens{
    font-family: Roboto;
    justify-content: space-between;
    display: flex;
    gap: 20px;
    align-items: center;

}

.citizens hr{
    opacity: 0.2;
}

.citizens ul{
    width: 100%;
}

.icons_li{
    width: 30px; height: 30px; background: #fff; padding: 12px; border-radius: 50%;align-items: center;display: flex;
}

.citizens li{
    display: flex;align-items: center; padding-bottom: 20px;
    padding-top: 20px;
    transition: all 0.4s;
}

.citizens li:hover{
    background: #e4e4e4;;
}


.citizens p {
    margin-left: 30px;
    font-size: 16px;
    
}

.citizens a{
    display: block;
}

.citizens a:hover{
    color: #000;
}

.card_info-message{
    height: max-content;
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    gap: 30px;
    transition: all 0.3s;
}

.card_info-message:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.info_detail a:hover{
    color: #000;
}

.info_message{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    /* overflow-x: hidden; */
}

.info_message p {
    font-size: 14px;
    font-family: Roboto;
}

.info_message small{
    position: relative;
    padding-left: 18px;
    color: #999999;
}

.info_message small::before{
    position: absolute;
    content: "";
    background-image: url(img/Frame.svg);
    background-size: cover;
    height: 11px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
}

.info_detail{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.detail_text{
    color: #999999;
   
}

.card_event{
    width: 349px;
    height: max-content;
}

.card_event-text p{
    font-size: 16px;
    font-family: Roboto;
    
}

.card_event-text {
    padding-top: 20px;
}

.card_event-text small{
    color: #999999;
}

.card_services{
    /* display: flex; */
    width: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: all 0.3s;
}

.card_services:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.services_detail{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 40px;
}

.services{
    /* display: flex; */
    gap: 30px;
   flex-wrap: wrap;
   flex-direction: column;
   columns: 2;
}

.card_one{
    display: flex;
    gap: 30px;
}

.numder_line{
   font-size: 24px; 
   font-weight: 700;
   color: #365EDC;
   font-family: Roboto;
}

.phone_main{
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.card_resours{
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
}

.detail_resours{
    align-items: center;
}

.info_resours{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
}

footer{
   background-color: #333333;
   padding: 40px;
}

footer small{
    color: #999999;
}

footer a {
    transition: all 0.3s;
    
}

footer a:hover{
   
}

.svg_block{
    display: flex;
    align-items: center;
   
}

.footer_list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 40px;
}

.footer_block{
    width: 100%;
}

.footer_mail{
    line-height: 20px;
    position: relative;
    padding-left: 18px;
    transition: all 0.3s;
}

.footer_mail::before{
    position: absolute;
    content: "";
    background-image: url(img/mail.svg);
    background-size: cover;
    height: 14px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
}

.icon_block{
    background-color: #474747;
   
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}

.icons_footer{
    display: flex;
    gap: 10px;
}

.info_footer-one{
    display: flex;
    gap: 60px;
}

.info_footer{
    display: flex;
    justify-content: space-between;
}

.info_footer-two{
    display: flex;
    gap: 40px;
}

/*slide*/
.slider-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .slide {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide-content {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
  }
  
  .navigation {
    position: absolute;
    /* bottom: 45%;
    left: 50%; */
    margin-top: 175px;
    margin-left: 760px;
    transform: translateX(-50%);
    display: flex;
    width: 90%;
    justify-content: space-between;
    z-index: 5;
  }
  
  .navigation button {
    background-color: rgba(0, 0, 0, 0.39);
    border: none;
    color: #333;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 3px;
    align-items: center;
    transition: all 0.3s;
    
  }

  .navigation button:hover{
    background-color: rgba(0, 0, 0, 0.87);
  }

  .navigation-two {
    position: absolute;
    top: 620%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 5;
    width: 90%;
  }
  
  .navigation-two button {
    background-color: #fff;
    border: none;
    color: #333;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 3px;
    align-items: center;
    transition: all 0.3s;
    
  }

  .navigation-two button:hover{
    background-color: #FFFFFF;
  }

  .slide:nth-child(1) {
    background-image: url('/изображение\ 1.png');
  }
  
  .slide:nth-child(2) {
    background-image: url('/изображение\ 1.png');
  }

  .indicators {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    
  }
  
  .indicator.active {
    background-color: #365EDC;
    padding: 2px;
    margin-top: -2px;
  }

  .indicators-two {
    position: absolute;
    top: 638%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 10px;
  }
  
  .indicator-two {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #BFC4D6;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    
  }
  
  .indicator-two.active {
    background-color: #365EDC;
    padding: 2px;
    margin-top: -2px;
  }

  

  .slide-project{
    display: flex;
    gap: 20px;
  }

  .title_indicator{
    overflow: hidden;
    margin-bottom: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .title_slide{
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
  }

  .text_title.active{
    opacity: 1;
    font-size: larger;
  }

  .text_title {
    min-width: 100px;
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.5s;
    position: relative;
    overflow: hidden;
  }

  .news_prew{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }

  .menu_mobile{
    /* display: none; */
    z-index: 9;
    color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
  }

  .menu_mobile a {
    color: #000;
  }

  .hidden_close-m {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
   /* left: 4%;
   top: 8%; */
    cursor: pointer;
}
.hidden_close-m::before {
    content: '+';
    
    position: absolute;
    z-index: ;
    transform: rotate(45deg);
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.hidden_close-m::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.hidden_close-m::after {
    transform: scale(1);
}
.hidden_close-m::before {
    transform: scale(0.8) rotate(45deg);
    color: #333333;
    opacity: 0.5;
}

.header_wrapper-m{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-weight: 700;
    
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 19px;
    padding: 15px;
}

.header_logo-m{
    display: flex;
    align-items: center;
    gap: 10px;
}

.list_mobile ul{
    list-style-type: none;
    padding-inline-start: 0px;


}

.header_right-m{
    line-height: 60px;
    color: #BDBDBD;
    padding-top: 15px;
    flex-wrap: wrap;
}
.header_right-m a{
    color: #BDBDBD;
}

.list_mobile ul a{
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.list_mobile ul a:hover{
    color: #365EDC;
}

.list_mobile{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
}

.list_mobile li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svg_list-mobile{
    padding: 0 10px 0 10px;
    
}

.main_btn-m{
    font-size: 14px;
    padding: 10px;
    border-radius: 7px;
    background-color: #365EDC;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 20px;
}

.main_btn-m:hover{
    background:  #2b4aaf;
    color: #fff;
}

.list_hidden li{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 28px;
    text-transform: none;
    color: #333333;
}

.list_hidden{
    display: none;
    padding: 15px 0 15px 0;
}

.footer_small-text{
    padding-bottom: 70px;
}

.footer_small-text p{
    width: 50%;
}


.slider_two{
    width: 100%;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    height: 220.25px;
    max-width: 734px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 1550px) {
    .header_logo-img {
        margin-inline-end: 10px;
    }

    .navigation {
        width: 100%;
    }
}


@media (max-width: 1550px) {
    .header_logo-title {
        width: 260px;
        font-size: 16px;
    }
}

@media (max-width: 1550px) {
    .menu_burger {
        margin-right: 20px;
    }
}

@media (max-width: 1289.98px) {
    .header_wrapper {
        margin: 20px 0;
    }

    .navigation{
        max-width: fit-content;
    bottom: 27%;
    right: 57%; 
    }

    .navigation button{
        background-color: rgb(255, 255, 255);
    }

    .navigation path {
        stroke: black;
        transition: all 0.3s;
    }

    .navigation button:hover{
        background-color: #fff;

    }

    .navigation button:hover path{
        stroke: #365EDC;
    }
}

@media (max-width:1024px){
    .navigation{
        max-width: fit-content;
    bottom: 23%;
    right: 53%; 
    }

    main{
        height: 750px;
    }

    h1{
        font-size: 60px;
    }

    .main_slider{
        align-items: center;

        flex-wrap: wrap;
    }

    .header_right{
        gap: 0;
    }

    .header_left{
        gap: 0;
    }

    .header_wrapper{
        margin: 0;
        gap: 0;
    }

    .header_top{
        padding-top: 50PX;
    }

    ul{
        padding: 6px;
    }

    .navigation button{
        background-color: rgb(255, 255, 255);
    }

    .navigation path {
        stroke: black;
        transition: all 0.3s;
    }

    .navigation button:hover{
        background-color: #fff;

    }

    .navigation button:hover path{
        stroke: #365EDC;
    }

  }

@media (max-width: 991.99px){
    .menu_hidden{
        display: block;
    }

    .menu_mobile{
        display: none;
    }

}

@media (max-width: 991.98px) {
    .header_wrapper {
        position: fixed;
        background: #FFFFFF;
        margin: 0;
        padding: 20px 0;
        width: 100%;
        right: 0;
        top: 0;
        border-radius: 0;
        z-index: 8;
    }

    

    .slider_two img{
        width: 100%;
        height: 100%;

    }

    .header_left{
        padding-left: 20px;
       margin: 0 auto;
       gap: 0;
    }

    .menu {
       opacity: 0;
       visibility: hidden;
    }

    .header_search-btn{
        padding-right: 50px;
        z-index: 8;
        position: fixed;
        right: 0;
    }

    .modal_left{
        display: flex;
        margin: 30px;
    }
    
    .header_top{
        visibility: hidden;
    }

    h1{
        font-size: 60px;
    }

    .main{
        padding-top: -60px;
    }

    .navigation {
     max-width: fit-content;
    bottom: 20%;
    right: 45%;
    }

    .navigation button{
        background-color: rgb(255, 255, 255);
    }

    .navigation path {
        stroke: black;
        transition: all 0.3s;
    }

    .navigation button:hover{
        background-color: #fff;

    }

    .navigation button:hover path{
        stroke: #365EDC;
    }

    .message{
        visibility: hidden;
    }

    .indicator {
        visibility: hidden;
    }

    main {
        width: 100%;
        max-height: 660px;
        
    }

    .main_slider{
        flex-wrap: wrap;
    }

    .slide_one{
        gap: 0;
        max-width: fit-content;

    }

    .services{
        display: flex;
        flex-wrap: wrap;
    }

    .citizens{
        flex-wrap: wrap;
    }

    .footer_list{
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .hidden-text{
        display: none;
    }

    .info_footer{
        flex-wrap: wrap;
    }

    .info_footer-one{
        flex-wrap: wrap;
        gap: 0;
        
    }

    .menu_hidden{
        display: none;
    }

    .menu_mobile{
        display: block;
    }
}


  
  
  /* /////// mobile media*/
  @media (max-width:604px){
    h1{
        font-size: 35px;
        /* line-height: 20px; */
    }

    body{
        overflow-x: hidden;
    }

    .slider_two img{
        opacity: 0;

    }

    .slider_two{
        background-image: url(img/Group\ 66.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slider_one img{
        opacity: 0;
    }

    .slider_one{
        background-image: url(img/Group\ 65.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container{
        padding: 0 10px;
        max-width: 1540px;
    margin: 0 auto;
    }

    .navigation{
        right: 0%;
        bottom: 16%;
    }

    .prev-btn{
        
    }

    .modal_left img{
        width: 23px;
        
    }

    .search_input{
        font-size: 24px;
        padding-left: 20px;
    }

    .header_search-btn{
        padding-right: 20px;
    }

    .menu_burger{
        margin-right: 10px;
    }

    .header_logo-img{
        margin-right: 10px;
    }

    .closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 20px;
	height: 3px;
	background: #000;
}

.closeModal{
    right: 0;
    margin-right: 10px;
}

.arrow_news{
    display: none;
   
}

section{
    padding: 5px 5px 50px 5px ;
}

h2{
    font-size: 32px;
    line-height: 40px;
}

.info_footer-one{
    gap: 0;
    flex-wrap: wrap;
    display: block;
}

.footer_span{
    display: none;
}

footer{
    padding: 5px 5px 30px 5px ;
}

.footer_small-text{
    padding-bottom: 20px;
}

.footer_small-text p{
    width: 100%;
}

.services_img svg{
    width: 50px;
}

.services_detail{
    display: block;
    gap: 10px;
    padding: 30px;
}

.info_footer{
    display: block;
}

.info_message{
    overflow: hidden;
}

.info_detail{
    flex-wrap: wrap-reverse;
    padding: 40px;
}

.detail_img img{
    width: 240px;
}

.detal_text{
    font-size: 20px;

}

.detal_text p{
    font-size: 20px;

}
  }
  


 